#logo {
  background:#00c5cd;
  font-style: italic;
   font-family: "cursive";
  font-weight: bold;
  color:#ec300f
}

.navbar-logo {
  background-image: url('../public/icon.svg');
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
}
